# Veilbox GRUB defaults
GRUB_TIMEOUT=5
GRUB_TIMEOUT_STYLE=menu
GRUB_GFXMODE=1920x1080x32,auto
GRUB_GFXPAYLOAD_LINUX=keep
GRUB_THEME=/boot/grub/themes/veilbox/theme.txt
GRUB_DISTRIBUTOR="Veilbox"
GRUB_CMDLINE_LINUX_DEFAULT="quiet splash mitigations=off"
GRUB_BACKGROUND=
