[Desktop Entry]
Type=Application
Name=Install Veilbox
Comment=Install Veilbox Linux on this computer
Exec=install-veilbox
Icon=calamares
Terminal=false
Categories=System;Installer;
StartupNotify=false
